################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediaGeralPOO/obj/Debug
/MediaGeralPOO/bin/Debug
/ElevadorService/obj/Debug
